<ion-header>
  <ion-toolbar>
    <ion-title>MENÚ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-button class="ing_pedidos" routerLink="#">
            Ingresar Pedido
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button class="ver_pedidos" routerLink="/pedidos">
          Ver Pedidos
        </ion-button>
      </ion-col>
      <ion-col size="6">  
        <ion-button class="rut_clientes" routerLink="#">
          Rutas Clientes
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button class="list_clientes" routerLink="#">
          Lista de clientes
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button class="metas" routerLink="#">
          Metas
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button class="sincro" routerLink="#">
          Sincronización
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
