ion-button{
    width: 100px;
    height: 100px;
    align-content: center;
    --background: #23a823;
    --border-radius: 50%;
}

ion-col{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}