<ion-header>
  <ion-toolbar>
    <ion-title>MENÚ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button routerLink="#">
    Ingresar Pedidos
  </ion-button>
  <ion-button routerLink="/pedidos">
    Ver Pedidos
  </ion-button>
  <ion-button routerLink="#">
    Rutas Clientes
  </ion-button>
  <ion-button routerLink="#">
    Lista de clientes
  </ion-button>
  <ion-button routerLink="#">
    Metas
  </ion-button>
  <ion-button routerLink="#">
    Sincronización
  </ion-button>
</ion-content>
